body
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 20px;
    margin: 0;
    background-color:rgb(240, 240, 240);
}

@media(max-width: 400px){
    body{
        width: 100%;
        display: table;
    }
}
.bd-navbar {
    min-height: 4rem;
    background-color: #ccc8d4;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
} 
.navbar{
    margin-bottom: 0px;
    border: none !important;
}
.BannerLanding
{
    padding: 50px;
    font-weight: lighter;
}

#BannerLanding h1 
{
    color: white;
    font-size: 50px;
}
  #BannerLanding p 
  {
    color: white;
    font-size: 30px;
    font-weight: lighter;
  }
  #BannerLanding
  {
    padding: 30px;
    background: rgb(30, 30, 30);
    color: lightgrey;
  }
  #textFooter
  {
      text-align: center !important;
  }
  .text-menu:hover{
    color: #FFF8DC !important;
  }
  .text-menu, .text-menu:active{
      text-decoration: none !important;
      font-weight: bold !important;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',    sans-serif !important;
    margin: auto 22px;
      color: #000000      !important;
  }
  #footer a:hover
  {
      margin: 2px;
      color: wheat;
  }
  .inline{
      display: flex !important;
  }
  #div1
  {
      height: 500px !important;
  }
  li {
    list-style-type: none;
  }
  .Nav-menu{

      color: whitesmoke !important;
        text-align: left !important;
       padding-top: 15px;
        height: 80px !important;
        background-color: rgb(200,200,200);
       
  }
  #dev{
      font-family: Open Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    font-style: oblique;
  }
  #footer a
  {
      color: gray;
      font-size: 25px;
      text-align: right !important;
  }
  .form-control{
      display: inline-flex !important;
      width: 300px !important;
  }
  #infoId
  {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',    sans-serif !important;
    margin: auto auto;
} 
  #paddingDiv{
      padding: 80px;
  }
  #ImageBorder{
    background-size: cover;
    margin: 115px auto;
    float: right !important;
    border: 1px solid #d6d3d3;
    border-radius: 127px;
    width: 250px !important;
    height: 251px !important;

  }
  .formDiv{
      display: table;
      width: 100%;
    background-size: cover;
    background-color: rgb(200, 200, 200);
    margin: 0px;
    text-align: center;
    padding: 150px;
    border-radius: 2px;
    box-shadow: 2px 2px rgb(235, 235, 235);
  }
#nameId, #nameId a, #nameId:active{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',    sans-serif !important;
    margin: auto auto !important; 
    color: black !important;
    font-weight: bold;;
}
.fa-envelope{
    color: black !important;
}
#idFas{
    font-family: cursive;
    font-size: 15px;
    color: whitesmoke;
}
#initialing-body{
    display: table-cell;
    vertical-align: middle;
}
#Initialing{
width: 100%;
display: table;
    background-position: 100%;
    background-image: url('images/corona-5275916_1280.jpg');
    background-size: cover;
    background-color: black;
    margin: 0px;
    text-align: center;
    height: 780px;
}
#GitAcess{
    color: black !important;
    font-weight: bold;
}
.text-center{
    color: white;
    text-shadow: 1px 1px black;
}
.fa fa-angle-double-down{
 text-decoration: none;
 border: 40px black;
}


#options{   
    display: flex;
    justify-content: space-around;
    background-color: rgba(177, 176, 176, 0.205);
    padding: 150px;
}
.btn-rede-social:hover a{
    color: white !important;
}
.btn-rede-social:hover{
    position: relative;
    background-color: rgba(46, 43, 43, 0.973) !important;
}
.btn-rede-social a, .btn-rede-social:visited{
   color: rgb(95, 79, 79);
    text-decoration: none;
}

.btn-rede-social{
    background-color: rgb(219, 211, 211);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 200px !important;
    padding: 20px;
    border-radius: 9px;
    text-align: center;
    text-decoration: none;
    transition: background-color 1s ;
}

#Iniciando{
    padding: 100px;
    margin: 0 auto;
    font-size: 70px;
    color:whitesmoke !important;
    text-shadow: 2px 1px rgb(0, 0, 0);
}
#footer{
    color: whitesmoke;
    padding: 30px;
    background-color: black;
}
a{ text-decoration: none;
}
a:hover{
    text-decoration: none;
}
h1{
    font-family: 'Noto Sans JP', sans-serif;
    color:whitesmoke;
    font-size: 50px;
    font-weight: lighter;
}

h2{
    font-weight: lighter;
}

a{
    font-size: 30px;
}